<% include partials/header %>
	<h1>
		<%= campground.name %>
	</h1><br>
	<img id="show" src="<%= campground.image %>"><br>
	<p id="desc">
		<%= campground.description %>
	</p> <br>
	<p>
		<a href="/campgrounds/<%= campground._id%>/comments/new"><button>Add your thoughts on this campground!</button></a>
		<% 				if (loggedIn && campground.author.id && campground.author.id.toString() === loggedIn._id.toString()) { %>
			<a href="/campgrounds/<%= campground._id%>/edit"><button>Edit this campground</button></a>
			<form action="/campgrounds/<%= campground._id%>?_method=DELETE" method="POST">
				<a><button>DELETE</button></a>
			</form>
			<%}%>
	</p>
	<h4>This gorgeous campground was submitted by
		<%= campground.author.username %>.</h4><br><br><br>
	<div id="comment">
		<% campground.comments.forEach(function(comment) { %>
			<p><strong><%= comment.author.username %> - </strong>
				<%= comment.text %>
		<a href="/campgrounds/<%= campground._id%>/comments/<%= comment._id%>/edit"><button>Edit your thoughts on this campground!</button></a>
			</p>
			<%	}); %>
	</div>



	<% include partials/footer %>