<% include partials/header %>
	<h1>
		<%= campground.name %>
	</h1><br>
	<img id="show" src="<%= campground.image %>"><br>
	<p id="desc">
		<%= campground.description %>
	</p> <br>
	<p id="comment">
	<% campground.comments.forEach(function(comment) { %>
		<strong><%= comment.author %> - </strong><%= comment.text %>
	<%	}); %>
	</p>
	<p>
		<a href="/campgrounds/<%= campground._id%>/comments/new">Add your thoughts on this campground!</a>
	</p>
	<p><a href="/campgrounds">Back to our campgrounds</a></p>
	


	<% include partials/footer %>