<% include partials/header %>
	<h1>
		<%= campground.name %>
	</h1><br>
	<img id="show" src="<%= campground.image %>"><br>
	<p id="desc">
		<%= campground.description %>
	</p> <br>
	<p>
		<a href="/campgrounds/<%= campground._id%>/comments/new"><button>Add your thoughts on this campground!</button></a>
	</p>
	<div id="comment">
		<% campground.comments.forEach(function(comment) { %>
			<p><strong><%= comment.author.username %> - </strong>
				<%= comment.text %>
			</p>
			<%	}); %>
	</div>



	<% include partials/footer %>